.footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 50px;
	background-color: #fff;
	border-top: 1px solid darkorange;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 3em;
	margin: 5px;
}
