.nav {
	width: 40%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: rgb(165, 165, 165);
}

.nav li {
	list-style-type: none;
}

.nav a {
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}
